@font-face {
    font-family: 'Font lab';
    src: url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.eot");
    src: url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.woff") format("truetype"), url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.ttf") format("embedded-opentype"), url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.headline{
    font-family: 'Font lab';
    font-size: 25px;
    width: 380px;
    /* @keyframes duration | timing-function | delay | 
   iteration-count | direction | fill-mode | play-state | name */
    animation: slidein 5s linear 1s infinite running;
}
@keyframes slidein {
    from { margin-left: 0; }
    to   { margin-left: 100%;}
  }
