/*
@font-face {
    font-family: 'Font lab';
    src: url("/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.eot");
    src: url("/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.woff") format("truetype"), url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.ttf") format("embedded-opentype"), url("../public/font/Fontlab-Font/fontlab-kit/fonts/fontlab-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: "terminal_grotesque";
  src: url("../font/Terminal-Font/terminal-grotesque-webfont.eot");
  src: url("../font/Terminal-Font/terminal-grotesque-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Terminal-Font/terminal-grotesque-webfont.woff2") format("woff2"), url("../font/Terminal-Font/terminal-grotesque-webfont.woff") format("woff"), url("../font/Terminal-Font/terminal-grotesque-webfont.ttf") format("truetype"), url("../font/Terminal-Font/terminal-grotesque-webfont.svg#terminal_grotesqueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tiny";
  src: url("../font/Tiny-Font/TINY5x3-80.woff2");
  src: url("../font/Tiny-Font/TINY5x3-80.woff2") format("woff2"), url("../font/Tiny-Font/TINY5x3-80.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "terminal_grotesque";
  background-image: url(feature.png);
  background-repeat: repeat;
  font-size: 10px;
  box-sizing: border-box;
}

/*
body:has(> div.bodyCam) {
    /*position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-color: #ffff00;
}
*/
h1 {
  text-align: center;
  margin: 40px 0 40px;
}

nav#menu {
  height: 5vh;
  padding: 15px 10px;
  text-align: center;
}

nav#menu > a {
  display: inline-block;
  vertical-align: top;
  padding: 7px 11px;
  margin: 0 4px;
  font-size: 1.5em;
  background-color: #000;
}

nav#menu > a {
  text-decoration: none;
  color: #fff;
}

/*
CAMERA
********/
.container-headline {
  padding: 15px 0;
}

.headline {
  font-family: "Tiny";
  font-size: 9em;
  width: 700px;
  /* @keyframes duration | timing-function | delay | 
  iteration-count | direction | fill-mode | play-state | name */
  animation: slidein 8s linear 1s infinite running;
  position: absolute;
  z-index: -50;
}

@keyframes slidein {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 100%;
  }
}
form {
  width: 70%;
  padding: 25px;
  margin: 20px auto;
  background-color: #fff;
}

form label {
  margin-right: 20px;
}

form label#labelmdp {
  margin-right: 24px;
}

form > input[type=submit] {
  float: right;
  -webkit-appearance: none;
  border: solid 1px #000;
  border-radius: 1px;
}

form > input[type=text], form #username,
form > input[type=password], form #mdp {
  border: solid 1px #000;
  border-radius: 1px;
}

form#formPicture {
  display: flex;
  text-align: center;
  background-color: transparent;
}

.filters, .more {
  background-color: #ffff008c;
  box-sizing: border-box;
  padding: 10px 15px;
}

/*
.more {
    //float: right;
    //width: 20%;
    //align-self: flex-end;
   // border-left: black 2px solid;
}*/
.filters {
  width: 10%;
  border-right: black 2px solid;
}

.webcam {
  display: flex;
  width: 70%;
}

.webcam > div {
  padding: 10px 15px;
  flex: 1 100%;
}

.webcam > .preview {
  border-right: black 2px solid;
}

.live {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 300px;
}

.live > #imgFilter, .live > #video {
  position: absolute;
  top: 0;
  left: 0;
}

.live > #imgFilter {
  z-index: 50;
}

.liked {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../../img/heart_pink.png");
}

.not-liked {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../../img/heart_small.png");
}

#forgot {
  width: 70%;
  height: 30px;
  text-align: right;
  padding: 0 25px;
  margin: 20px auto;
}

#canvas-container {
  position: relative;
}

#canvas-container > #canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-container > #canvasFilter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

main {
  display: flex;
  height: 100%;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/webcamH.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main svg {
  width: 20em;
  height: 20em;
}

.circle-0 {
  stroke: #0099ff;
  stroke-dasharray: 283, 300;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: circleInMotion-0 3s 9s linear infinite alternate;
}

@keyframes circleInMotion-0 {
  0%, 40% {
    stroke-dasharray: 283, 300;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
  60%, 100% {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: -140;
    stroke-linecap: butt;
  }
}
.circle-1 {
  stroke: #5566aa;
  stroke-dasharray: 258, 300;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: circleInMotion-1 3s 4s linear infinite alternate;
}

@keyframes circleInMotion-1 {
  0%, 40% {
    stroke-dasharray: 258, 300;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
  60%, 100% {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: -120;
    stroke-linecap: butt;
  }
}
.circle-2 {
  stroke: #aa3355;
  stroke-dasharray: 233, 300;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: circleInMotion-2 3s 10s linear infinite alternate;
}

@keyframes circleInMotion-2 {
  0%, 40% {
    stroke-dasharray: 233, 300;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
  60%, 100% {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: -100;
    stroke-linecap: butt;
  }
}
.circle-3 {
  stroke: red;
  stroke-dasharray: 208, 300;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: circleInMotion-3 3s 5s linear infinite alternate;
}

@keyframes circleInMotion-3 {
  0%, 40% {
    stroke-dasharray: 208, 300;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
  60%, 100% {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: -80;
    stroke-linecap: butt;
  }
}
/*
POST
********/
.post-container {
  margin-bottom: 100px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

/*# sourceMappingURL=my_style.css.map */
